@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f4f6;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navcolor {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.19));
}
